<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
</head>
<body>
    <header>
        <div class="head">
        <article class="busc">
            
            <div class="logo-container">
            <img id="logo" src="/images/logo-mercado-liebre.svg" alt="Logo">
            </div>

                <div class="buscador-container"><input id= "barra" type="text" id="busqueda" name="busqueda" size="25" placeholder="Buscar productos, marcas">
                <i class="fas fa-search buscador"></i></div>
        

        <p id= "promo"><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p>
    </article>
    </div>
    <div class="links">
        <nav id="site">                
            <ul>
                    <a href=""> <li>Ofertas</li></a>
                    <a href=""><li>Tiendas Oficiales</li></a>
                    <a href=""><li>Vender</li></a>
                    <a href=""><li>Ayuda</li></a>
            </ul>
        </nav>
        <nav id="nav-bar">
            <ul>
                    <a href=""><li>Creá tu cuenta <i class="far fa-id-card"></i></li></a>
                    <a href=""><li>Ingresá <i class="fas fa-sign-in-alt"></i> </li></a>
                    <a href=""><li>Mis Compras <i class="fas fa-shopping-basket"></i> </li></a>
            </ul>
        </nav>
    </div>
        <div class="container-burger">
            <i class="fas fa-bars burger-menu"></i>
        </div>
    </header>
    <main class="form">
        <form action="/registro" method="POST">

            <label for="nombre completo" name="register">Nombre y Apellido</label>
            <input type="text" required= "required" placeholder="Ingresa tu nombre completo">

            <label for="user" name="register" >Nombre de usuari@</label>
            <input type="text" required= "required" placeholder="Ingresa tu nombre de usuario" x-moz-errormessage="Por favor, especifique un nombre de usuario válido." minlength="8">

            <label for="fechadenac" name="register">Fecha de nacimiento</label>
            <input type="date" required= "required">

            <label for="Domicilio" name="register">Domicilio</label>
            <input type="text" required= "required" placeholder="Ingresa tu dirección">

            <label for="perfil" name="register">Perfil de usuario</label>
            <select name="register" id="register">
                <option>Voy a comprar</option>
                <option>Voy a vender</option>
            </select>

            <label for="catgorias" name="register">Categorías de interés</label>
            <div><input type="checkbox" required= "required" name="categorias">Electro</div>
            <div><input type="checkbox" required= "required" name="categorias">Moda</div>
            <div><input type="checkbox" required= "required" name="categorias">Hogar</div>
            <div><input type="checkbox" required= "required" name="categorias">Juguetería</div>
            <div><input type="checkbox" required= "required" name="categorias">Vida sana</div>

            <label for="foto" name="register">Foto de usuario</label>
            <input type="file" required= "required" name="imagenDePerfil" accept=".jpg, .png">

            <label for="pass" name="register">Contraseña</label>
            <input type="password" required= "required" placeholder="Ingresa tu contraseña">

            <label for="pass" name="register">Confirmar contraseña</label>
            <input type="password" required= "required" placeholder="Ingresa tu contraseña">

            <article class="botonera">
            <button type="reset">Borrar</button>

            <button type="submit">Enviar</button>
        </article>


        </form>
    </main>
</body>
</html>